<!DOCTYPE html>
<html><head>
  <style>
</style>
  <meta charset="utf-8">
  <title>Reporte Supervisión Equipos de Energía y Climatización </title>
  	
</head><body>
<p style="text-align: left;"><img style="width: 100px; height: 50px;" alt="Logo CENACE" src="./images/cenace.jpg" align="middle">
<p> <font size="+1"><strong><span >
<span style="text-decoration: underline;">Reporte Supervisión Equipos de Energía y Climatización</span></span></strong></font>
</p>

<p>Fecha: (#dd/mm/yyyy)</p>

<hr><strong>ESTADO SISTEMA DE SUMINISTRO ELÉCTRICO Y EQUIPOS DE ENERGÍA</strong>

<!-- start ups:state --->
<hr><u>Estado UPS</u>
<table style="border: 1px solid black">
  <tbody>
  <!-- ups:state -->
  </tbody>
</table>
<!-- end ups:state --->
<p>&nbsp;</p>
<hr><strong>ESTADO AIRES ACONDICIONADOS</strong><hr>
<p>A continuación el estado de los equipos:</p>

<!-- start hvac:state --->
<div style="min-height:180px;max-height:360px; display: inline-block">
  <u>Estado Aire acondicionado</u>
<!-- hvac:state -->
</div>
<!-- end hvac:state --->

<hr style="width: 100%">
<p>&nbsp;Atentamente,</p>

<p>Sistemas auxiliares</p>

</body></html>